{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Edit Account</h1>

    {{ include('account/entity/account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_account_entity_account_index') }}">back to list</a>

    {{ include('account/entity/account/_delete_form.html.twig') }}
{% endblock %}
