{% extends 'layouts/base.html.twig' %}

{% set content = 'conttt' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">submit</button>
    {{ form_end(form) }}
{% endblock %}

