<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Moneys{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="left">
                <div class="logo">
                    Moneys
                </div>
            </div>
            <div class="right">
                <nav>
                    <div class="menu">
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            <aside class="widgets">
                {% block sidebar %}{% endblock %}
            </aside>
        </div>
    </main>
    <footer>
        <div class="container">
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
